#app {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.inputs {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 5px 0;
}

input {
    padding: 8px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.card {
    border: 2px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 200px;
}

.card-img {
    width: 100%;
    border-radius: 8px;
}

.card p {
    margin: 10px 0;
}
